    body {
        text-align: center;
    }
    
    #engInput {
        width: 30rem;
        margin: auto;
        text-align: center;
        display: block;
        padding: 1rem;
    }
    
    button {
        margin: 1rem;
    }