@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
body {
    text-align: center;
    font-family: 'Handlee';
    margin: 0;
}

h1 {
    padding: 1rem 0rem;
    background-color: yellow;
}

#engInput {
    max-width: 50%;
    margin: auto;
    display: block;
    padding: 2rem;
}

button {
    display: block;
    width: 7rem;
    height: 2rem;
    margin: auto;
    border-radius: 1rem 2rem;
    background-color: yellow;
    /* margin: 2rem 20rem 2rem 45rem; */
}

#output {
    border: 2px solid skyblue;
    height: 10rem;
    max-width: 30%;
    margin: auto;
    text-align: justify;
    padding: 2rem;
}

#textRef {
    margin: 2rem;
}